<%const currentYear = new Date().getFullYear();
const msg = {
    footerMessage: `© Taylor Hughes ${currentYear}`
}
%>

<footer>
    <div id="footer-our-company" class="footer-div">
        <p>Our Company</p>
        <nav>
            <ul>
                <li><a href="/PUC">About</a></li>
                <li><a href="/PUC">Careers</a></li>
                <li><a href="/PUC">Contact Us</a></li>
                <li><a href="/PUC">Future Plans</a></li>
            </ul>
        </nav>
    </div>
    <div id="footer-social-media" class="footer-div">
        <p>Social Media</p>
        <nav>
            <ul>
                <li><a href="/PUC">Facebook</a></li>
                <li><a href="/PUC">Instagram</a></li>
            </ul>
        </nav>
    </div>
    <div id="footer-resources" class="footer-div">
        <p>Resources</p>
        <nav>
            <ul>
                <li><a href="/PUC">FAQs</a></li>
                <li><a href="/PUC">Photo Gallery</a></li>
                <li><a href="/PUC">Site Map</a></li>
                <li><a href="/PUC">Newsroom</a></li>
            </ul>
        </nav>
    </div>
    <div id="footer-legal-and-copyright" class="footer-div">
        <p>Privacy & Terms</p>
        <nav>
            <ul>
                <li><a href="/PUC">Terms and Conditions</a></li>
                <li><a href="/PUC">Privacy Policy</a></li>
                <li><a href="/PUC">Disclaimers</a></li>
                <li><a href="/attributes">Icon Attributions Page</a></li>
                
            </ul>
        </nav>
    </div>

    <p class="footer-copy-right"><%= msg.footerMessage %></p>
</footer>