<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Taylor Hughes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <title>Form Input</title>

  </head>
  <body>
    <header>
    <%- include('mainNavBar'); -%>
    </header>
    <main id="home-main-tag">
        <h1>Here is the <%= pageContent %></h1>
    </main>
    <%- include('footer'); -%>
  </body>
</html>