<nav id="main-nav-bar-desktop">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/PUC">Shop</a></li>
        <li><a href="/PUC">About</a></li>
        <li><a href="/PUC">Contact</a></li>
        <% if(currentPath !== '/login') {%>
        <li class="right-align"><a href="/login" title="Go to the Login Page">Login</a></li>
        <% } %>
        <% if(currentPath === '/login') {%>
        <li></li>
        <% } %>
    </ul>
</nav>
<div id="mobile-hamburger-view">
    <input id="mobile-hamburger-icon" type="checkbox"/>
    <label for="mobile-hamburger-icon">
        <img id="hamburger-img-png" src="/img/menu-bar.png" height="40" width="40" alt="Menu toggle"/>
    </label>
    <% if(currentPath !== '/login') {%>
    <label for="login-img-png">
        <a href="/login" title="Go to the Login Page">
            <img id="login-img-png" src="/img/login-img.png" height="30" width="30" alt="Take to user login screen button"/>
        </a>
    </label>
    <% } %>
    <nav id="mobile-nav-bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/PUC">Shop</a></li>
            <li><a href="/PUC">About</a></li>
            <li><a href="/PUC">Contact</a></li>
        </ul>
    </nav>
</div>